/* Root colors */
:root {
  --white: #f0f0f0;
  --lightblue: rgb(241, 249, 255, 1);
  --blue: rgb(0, 4, 255, 1);
  --darkblue: rgb(5, 7, 134, 1);
  --aqua: rgb(0, 255, 255, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Main styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--white);
}

.main {
  width: 100%;
  margin: 100px auto 25px auto;
}

@media screen and (min-width: 610px) {
  .main {
    max-width: 570px;
  }
}

@media screen and (min-width: 900px) {
  .main {
    max-width: 780px;
  }
}


h1 {
font-family: 'Trebuchet MS', sans-serif ;
}

.desc {
  font-style: italic;
}


label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.hint {
margin-left: 3px;
  font-size: 14px;
}

.txt-center {
  text-align: center;
}

/* form */

form {
  background: var(--lightblue);
  padding: 20px 30px;
}

.form-section {
  margin: 0 auto 1rem auto;
  padding: 0.25rem;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
    outline: 0;
}

.form-input:focus {
  box-shadow: 0 0 0 2px var(--lightblue),
  0 0 0 4px var(--aqua);
}

.input-checkbox {
  display: inline-block;
  margin-right: 10px;
  min-height: 15px;
  min-width: 15px;
}

.input-textarea {
  min-height: 100px;
  width: 100%;
  padding: 10px;
  outline: 0;
  resize: vertical;
}

.input-textarea:focus {
  box-shadow: 0 0 0 2px var(--lightblue),
  0 0 0 4px var(--aqua);
}

.submit-btn {
  font-family: 'Trebuchet MS', sans-serif ;
  font-size: 20px;
  display: block;
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 0.75rem;
  color: var(--white);
  background: var(--blue);
  border-radius: 50px;
  cursor: pointer;
  transition-duration: .3s;
}

.submit-btn:hover {
  background-color: var(--darkblue);
  color: var(--aqua);
}
